body{
    font-family:Arial,sans-serif;
}

a{

    color: black;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lens{
    height: auto;
    width: 15px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 5px;
    opacity: 50%;
}
#box-search{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-top: 20px;
}
#box-child-search{
    border: 1px solid rgba(226, 226, 226, 0.897);
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    

}

#box-child-search:hover{

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);

}
input{
    
    border: none;
    font-size: 16px;
    outline: none;
    height: 20px;
    
}
#logo-conteiner{
    margin: 0;
    padding-top: 183px;
    
}
li{
    list-style: none;
}
#buttons-search{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 14px;
    margin-right: 10px;
    opacity: 75%;

}
#a-search-google{
    margin-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.76);
    text-decoration: none;
    margin-left: 30px;
}
#a-search-google:hover{
    border: 1px solid rgba(206, 205, 205, 0.856);
    border-radius: 5px;
    
}
#search-google{
    margin: 10px;
}
#search-lucky{
    margin: 10px;
}

#a-search-lucky{
    margin-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.76);
    text-decoration: none;
}
#a-search-lucky:hover{
    border: 1px solid rgba(206, 205, 205, 0.856);
    border-radius: 5px;
    
}
#last-item{
    display:flex;
    justify-content:center;
    margin-top: 15px;
    font-size:13.5px;
}
#english{
    color:blue;
}
#english:hover{
    text-decoration: underline;
}
#navbar{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
    float: right;
    
    
}
.nav-item{
    margin-top: 5px;
    margin-right: 5px;
    padding-right: 15px;
    align-self:center;
    
}
#img-user{
    border-radius: 100px;
}